body {
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#workspace {
    display: flex;
    overflow: auto;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #382616;
    height: 30vh;
    width: 100vw;
    flex-wrap: wrap;
    border-top: solid;
    border-top-color: #45f107;
    border-top-width: 1px;
}

#wuddleFace {
    width: 25vh;
    height: 25vh;
    /*visibility: hidden*/
}

#bench {
    height: 25vh;
    width: 25vh;
}

#mine {
    height: 25vh;
    width: 25vh;
}

#inventory {
    margin-top: 5vh;
    height: 20vh;
    width: 20vh;
}

#construction {
    height: 25vh;
    width: 25vh;
}

#castleArea {
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    position: relative;
    width: 75vw;
    height: 70vh;
    justify-content: center;
    justify-items: center;
    

}

#castle {
    background-color: #3e3e3e;
    margin: auto;
    padding: 0;
    position: relative;
    height: 70vh;
    width: 40vw;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(50, 2%);
}

#menu {
    background-color: rgb(19, 19, 19);
    justify-content: center;
    justify-items: center;
    display: block;
    margin: 0;
    padding: 0;
    width: 25vw;
    height: 100vh;
    position: relative;
    right: 0;
    border-left: solid;
    border-left-color: #45f107;
    border-left-width: 1px;
}
